[Unit]
Description=redactdata
After=ntpd.service
Wants=ntpd.service

[Service]
Type=idle
ExecStart=/usr/bin/python /home/pi/sensors.py

[Install]
WantedBy=multi-user.target

